.basic {
  height: 3rem;
  color: white;
  background-image: linear-gradient(to right, #9089fc, #ff80b5);
  width: 20rem;
  border-radius: 0.5rem;
}

.view {
  width: 15rem;
}

.book {
  height: 4.5rem;
  width: 24rem;
}

@media (max-width: 767px) { 
  .basic {
    width: 15rem;
  }
  
  .book {
    height: 3rem;
    width: 15rem;
  }
}

@media (max-width: 639px) { 
  .basic {
    width: 13rem;
  }

  .book {
    height: 3rem;
    width: 15rem;
  }
}
