.card {
  background: rgba(var(--card-rgb), 0);
  transition: background 200ms, border 200ms;
  & span {
    display: inline-block;
    transition: transform 200ms;
  }

  & p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }

  & h2 {
    margin-bottom: 0.7rem;
  }
}

.cardRow {
  background-image: linear-gradient(to right, #9089fc, white 80%);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.4);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    & span {
      transform: translateX(4px);
    }
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    padding: 1rem 2.5rem;
    & h2 {
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 700px) {
  .cardRow {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .cardRow {
    grid-template-columns: repeat(2, 50%);
  }
}
