.showMore {
  color: #9089fc; 
  cursor: pointer;
  font-weight: bold;
}

.showMore:hover {
  color: #e3d9f6; 
  text-decoration: none;
}

.rowBorder {
  border-bottom: 1px solid #e5e7eb; /* Adjust the color and width as needed */
}
