.mainBanner {
  & .main {
    background-image: url("../static/images/bannerBg.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }
  & .brand {
    font-size: 4.5rem;
  }
}
