@mixin elementDimension {
  width: 16rem;
  height: 3rem;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  @include elementDimension();
  &Mid {
    @include elementDimension();
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    background: white;
    z-index: 99;
  }
}
