.priceCard {
  &Details {
    height: 55%;
    min-height: 14rem;
  }
}

@media (max-width: 767px) { 
  .priceCard {
    &Details {
      min-height: 11rem;
    }
  }
}

@media (max-width: 639px) { 
  .priceCard {
    &Details {
      min-height: 13rem;
    }
  }
}
